<div class="col-10 offset-1 main">

	<%= @store.favoritestores.count %><br /><br />

	<%= link_to favoritestore_text, favoritestores_update_path(store: @store), id: 'favoritestore_link', remote: true %>

	<h1><%= @store.storename %></h1>
	<%= @store.address %><br />
	<%= @store.reviews.count %><br /><br />

	<%# .limit(5) between order and each once there are more reviews per store %>
	<% @store.reviews.order("created_at DESC").each do |review| %>
		<%= link_to review.title, store_review_path(@store, review) %><br />
	<% end %>

	<br /><br />

	<h3>Add a review for a strain from <%= @store.storename %></h3>
	<br />

	<div>
		<%= simple_form_for @review, url: store_reviews_path(@store) do |f| %>
			<%# f.input :producttype, as: :select, collection: Review::PRODUCTTYPE, label: 'What kind of product are you reviewing?' %>
			<%= f.hidden_field :producttype, value: "flower" %>
			<%= f.input :storetype, as: :select, collection: Review::STORETYPE, label: 'Storefront or Delivery Service?' %>
			<%= f.input :title, label: 'Enter a title for your review' %>
			<%= f.input :straintype, as: :select, collection: Review::STRAINTYPE, label: 'What type of strain was it?' %>
			<%= f.input :strainname, label: 'What was the strain called?' %>
			<%= f.input :visualrating, label: 'How does it look?' %>
			<%= f.input :tasterating, label: 'How does it taste?' %>
			<%= f.input :odorrating, label: 'How does it smell?' %>
			<%= f.input :potencyrating, label: 'How was the potency?' %>
			<%= f.input :comment, label: 'Tell us more about it.' %>
			<br />
			<%= f.submit 'Create Review', class: 'btn btn-primary' %>
		<% end %>
	</div>

</div>
