<div class="col-10 offset-1 main">

	<%= link_to favoritestore_text, favoritestores_update_path(store: @store), id: 'favoritestore_link', remote: true, class: 'btn btn-primary' %> &nbsp; Favorited: <%= @store.favoritestores.count %><br /><br />

	<% if @store.reviews.present? %>
		<span class="badge badge-success"><%= @store.reviews.last.inv_storetype %></span><br />
	<% end %>

	<h3><%= @store.storename %></h3>
	<% if @store.reviews.present? && @store.reviews.last.storetype == 'delivery' %>
		<p><%= @store.city %>, <%= @store.state %> (<%= @store.zipcode %>)</p>
	<% else %>
		<p><%= @store.address.split(', ')[0] %>, <%= @store.city %>, <%= @store.state %> <%= @store.zipcode %></p>
	<% end %>

	<p>Reviews from this dispensary: <%= @store.reviews.count %></p>

	<p>Average review: 

	<!-- average rating for each store -->
	<% if @store.reviews.present? %>
		<% @totalrating = 0 %>
		<% @store.reviews.each do |review| %>
			<% @totalrating += review.ratingavg %>
		<% end %>
		<%= (@totalrating / @store.reviews.count).floor(2) %><br />
	<% else %>
		N/A
	<% end %>

	</p>

	<h5>Recent reviews:</h5>

	<% if @store.reviews.present? %>
		<%# .limit(5) between order and each once there are more reviews per store %>
		<% @store.reviews.order("created_at DESC").each do |review| %>
			<%= link_to review.title, store_review_path(@store, review) %><br />
		<% end %>
	<% else %>
		<em>No reviews yet - be the first to write one!</em><br />
	<% end %>

	<br />

	<p>
		<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
	    	Write a review
	  	</a>
  	</p>

  	<div class="collapse" id="collapseExample">
	  <div class="card card-body">
	  	<h3>Add a review for a strain from <%= @store.storename %></h3>
		<br />

		<div>
			<%= simple_form_for @review, url: store_reviews_path(@store) do |f| %>
				<%# f.input :producttype, as: :select, collection: Review::PRODUCTTYPE, label: 'What kind of product are you reviewing?' %>
				<%= f.hidden_field :producttype, value: "flower" %>
				<%= f.input :storetype, as: :select, collection: Review::STORETYPE, label: 'Storefront or Delivery Service?' %>
				<%= f.input :title, label: 'Enter a title for your review' %>
				<%= f.input :straintype, as: :select, collection: Review::STRAINTYPE, label: 'What type of strain was it?' %>
				<%= f.input :strainname, label: 'What was the strain called?' %>
				<%= f.input :visualrating, as: :select, collection: 1..10, label: 'How does it look?' %>
				<%= f.input :tasterating, as: :select, collection: 1..10, label: 'How does it taste?' %>
				<%= f.input :odorrating, as: :select, collection: 1..10, label: 'How does it smell?' %>
				<%= f.input :potencyrating, as: :select, collection: 1..10, label: 'How was the potency?' %>
				<%= f.input :happinessrating, as: :select, collection: 1..10, label: 'How happy are you with the purchase?' %>
				<div class="box">
				<%= f.input :clarityrating, as: :range, label: 'Clear or Heavy?' %>
				<small>Clear <span class="float-right">Heavy</span></small>
				</div>
				<div class="box">
				<%= f.input :quicknessrating, as: :range, label: 'Comes on quick or Creeper?' %>
				<small>Comes on quick <span class="float-right">Takes a while</span></small>
				</div>
				<div class="box">
				<%= f.input :headbodyrating, as: :range, label: 'Head or Body?' %>
				<small>Head <span class="float-right">Body</span></small>
				</div>
				<div class="box">
				<%= f.input :daynightrating, as: :range, label: 'Day or Night?' %>
				<small>Day <span class="float-right">Night</span></small>
				</div>
				<%= f.input :comment, label: 'Tell us more about it.' %>
				<br />
				<%= f.submit 'Create Review', class: 'btn btn-primary btn-lg btn-block' %>
			<% end %>
		</div>
	  </div>
	</div>

</div>
