<div class="col-10 offset-1 main">

	<h1><%= @store.storename %></h1>
	<%= @store.reviews.count %>

	<h3>Add a review for a product from <%= @store.storename %></h3>
	<br />

	<div>
		<%= simple_form_for @review, url: store_reviews_path(@store) do |f| %>
			<%= f.input :producttype, as: :select, collection: Review::PRODUCTTYPE, label: 'What kind of product are you reviewing?' %>
			<%= f.input :storetype, as: :select, collection: Review::STORETYPE, label: 'Storefront or Delivery Service?' %>
			<br />
			<%= f.submit 'Create Review', class: 'btn btn-primary' %>
		<% end %>
	</div>

</div>
