<div class="col-10 offset-1 main">
	<h5>User Dashboard</h5>
	<br />
	
		<h3><%= @user.username %></h3>

		<% if current_user && current_user == @user %>
			<em><%= @user.email %></em><br />
		<% end %>

		<% if current_user && current_user.admin? %>
			<span class="badge badge-secondary">ADMIN</span><br />
		<% end %>
		
		<br />

		High fives given: <%= @user.reviewhighfives.count %>
		<br /> 

		<% @totalhighfivesreceived = 0 %>
		<% @user.reviews.each do |review| %>
			<% @totalhighfivesreceived += review.reviewhighfives.count %><br />
		<% end %>

		High fives received: <%= @totalhighfivesreceived %>

		<br /><br />

		<%# link_to "Follow", '#' %>

		Reviews written: <%= @user.reviews.count %><br />
		<% @user.reviews.each do |review| %>
			<%= link_to review.title, store_review_path(review.store, review) %><br />
		<% end %>

		<br />

		Favorite stores: <%= @user.favoritestores.count %><br />
		<% @user.favoritestores.each do |favoritestore| %>
			<%= link_to favoritestore.store.storename, store_path(favoritestore.store) %><br />
		<% end %>

		<br />

		Times your photos have been UpVoted: <%= @user.photoupvotes.count %>

		<br /><br />

		<!-- Show if current user is the user from this profile -->
		<% if current_user && current_user == @user %>
			<div class="box">
				<h4>Update your location:</h4>
				<br />
				<div>
					<%= simple_form_for @userlocation, url: user_userlocations_path(current_user) do |f| %>
					  <%= f.input :address, label: 'Address:' %>
					  <br />
					  <%= f.submit 'Update Location', class: 'btn btn-primary' %>
					<% end %>
				</div>
				<br />
				<div>
					<% if @user.userlocations.last.present? %>
						<p><small><strong>Current User Location:</strong> <%= @user.userlocations.last.address %></small></p>
					<% end %>
				</div>
			</div>
		<% end %>
		<!-- -->

</div>