<div class="col-10 offset-1 main">

	<h3>photos index</h3>
	<br />

	<div>
		<% @photos.each do |photo| %>
			<%= link_to image_tag((photo.picture.url), class: 'review_image_small'), store_review_photo_path(photo, photo.review, photo.review.user) %><br />
			<%= photo.caption %><br />
			<%= link_to photo.review.title, store_review_path(store_id: photo.review.store.id, id: photo.review.id) %><br />
			<%= photo.review.producttype %><br />
			<%= photo.review.store.storename %><br />
			<%= photo.photoupvotes.count %><br /><br />
		<% end %>
	</div>

</div>