<% unless current_user %>
  <p class="alert alert-info">To start UpVoting pictures and writing your own reviews, <%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %>!</p>
<% end %>

<div class="col-10 offset-1 main">

	<h3>Pic Stream</h3>
	Click the pic to view additional info and to UpVote!
	<br /><br />

	<div>
		<% @photos.sort_by{ |t| [-t.photoupvotes.count, t.created_at] }.each do |photo| %>
			<% if current_user %>
				<h5 class="float-right"><%= link_to 'Check it out!', store_review_photo_path(photo, photo.review, photo.review.user) %></h5>
			<% end %>
			<h5>UpVotes: <%= photo.photoupvotes.count %></h5>
			<% if current_user %>
				<%= link_to image_tag((photo.picture.url), class: 'review_image'), store_review_photo_path(photo, photo.review, photo.review.user) %><br />
			<% else %>
				<%= image_tag((photo.picture.url), class: 'review_image') %><br />
			<% end %>
			<small><%= photo.caption %></small><br /><br />
		<% end %>

	</div>

</div>