<div class="col-10 offset-1 main">

	<h3>Cannabis reviews from dispensaries near you:</h3>
	<br />

	<% @sortednearbyreviews.each do |review| %>
		<div class="float-right">
			<h1><span class="badge badge-primary"> <%= review.ratingavg %> </span></h1>
		</div>
		
		<h4><%= link_to review.title, store_review_path(store_id: review.store.id, id: review.id) %></h4>

		<p>A review by <%= link_to review.user.username, user_path(review.user) %></p>
		<div>
			<% if review.photos.present? %>
				<%= image_tag((review.photos.last.picture.url), class: 'review_image') %><br />
				<h5><%= review.photos.last.caption %></h5>
			<% else %>
				<p>No image uploaded yet!</p>
			<% end %>
			<br />
		</div>
		
		<div>
			<p><%= review.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%A, %b %-d") %><br />
			<%= review.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%-I:%M %p") %></p>
			<br />
			<p><em><%= review.store.distance_from(current_user.userlocations.last.to_coordinates).floor(1) %> miles away</em></p>
		</div>
		<br />

		<p class="text-center"><em>Description goes here, taken from slider settings</em></p>
		<% if review != @sortednearbyreviews.last %>
			<br /><hr /><br />
		<% end %>
			
	<% end %>

	<br /><br /> <!-- TEMP -->

</div>

