<div class="col-10 offset-1 main">

	<h3>Reviews from stores near you</h3>
	<br />

	<% @sortednearbyreviews.each do |review| %>
		<%= link_to review.storetype, store_review_path(store_id: review.store.id, id: review.id) %><br />
		<%= review.producttype %><br />
		<%= review.title %><br />
		<%= review.visualrating %><br />
		<%= review.tasterating %><br />
		<%= review.odorrating %><br />
		<%= review.comment %><br />
		<%= review.store.storename %><br />
		<%= review.user.email %><br /><br />
	<% end %>

</div>

