<div class= "col-10 offset-1 main">

	<% if @review.user == current_user && @review.photos.present? && @review.labelinfos.present? %>
		<span class="badge badge-success">Nice job! Your review is 100% complete.</span>
	<% end %>
	<br />

	<div>
		<% if @review.photos.present? %>
			<%= link_to image_tag((@review.photos.last.picture.url), class: 'review_image_small'), store_review_photo_path(@review.photos.last, @review, @review.user) %><br />
			<h5><%= @review.photos.last.caption %></h5>
		<% end %>
	</div>
	<br />

	<%= @review.storetype %><br />
	<%= @review.producttype %><br />
	<%= @review.title %><br />
	<%= @review.visualrating %><br />
	<%= @review.tasterating %><br />
	<%= @review.odorrating %><br />
	<%= @review.potencyrating %><br />
	<%= @review.comment %><br />
	<%= @review.store.storename %><br />
	<%= @review.user.email %><br /><br />

	<% if @review.labelinfos.present? %>
		<div class="box">
			<%= @review.labelinfos.last.harvestdate %><br />
			<%= @review.labelinfos.last.thcperc %><br />
			<%= @review.labelinfos.last.cbdperc %><br />
		</div>
	<% end %>

	<br /><br />

	<!-- Show Add Photo and Add Label buttons if current user wrote review -->
	<% if current_user && current_user == @review.user %>

		<div class="float-right">

			<!-- Button trigger modal - photo -->
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#picModal">
				<% if @review.photos.present? %>
			  	Update your Photo
			  <% else %>
			  	Add a Photo
			  <% end %>
			</button>

			<!-- Button trigger modal - label -->
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#labelModal">
			  <% if @review.labelinfos.present? %>
			  	Update your Label
			  <% else %>
			  	Add a Label
			  <% end %>
			</button>

			<%= link_to 'Delete Review', store_review_path(@review.store, @review), method: :delete, data: {confirm: 'Are you sure you want to delete this review? You cannot reverse this action.'},class: 'btn btn-danger' %>

		<% end %>
		<!-- -->

		<br /><br />

	</div>

</div>

<!-- Picture Modal -->
<div class="modal fade" id="picModal" tabindex="-1" role="dialog" aria-labelledby="picModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="picModalLabel">Add a Photo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    	<%= simple_form_for @photo, url: store_review_photos_path(@review.store, @review) do |f| %>
				<div class="modal-body">
					<%= f.input :picture, label: 'Add a Photo' %>
				  <%= f.hidden_field :caption, value: "#{@review.strainname} from #{@review.store.storename} (by #{@user.username} )" %>
			  </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <%= f.submit "Add a Photo", class: 'btn btn-primary' %>
	      </div>
      <% end %>
    </div>
  </div>
</div>


<!-- Label Modal -->
<div class="modal fade" id="labelModal" tabindex="-1" role="dialog" aria-labelledby="labelModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="labelModalLabel">Add a Label</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    	<%= simple_form_for @labelinfo, url: store_review_labelinfos_path(@review.store, @review) do |f| %>
			<div class="modal-body">
				<%= f.input :harvestdate, label: 'Harvest Date, as written on package' %>
				<%= f.input :thcperc, label: 'THC %' %>
				<%= f.input :cbdperc, label: 'CBD %' %>
		  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Add a Label", class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>